/web/acme-web/node_modules
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Api
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Api.deps.json
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Api.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Api.pdb
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Api.runtimeconfig.json
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Api.staticwebassets.endpoints.json
src/Host/Acme.Api/bin/Debug/net10.0/Acme.DocumentManagement.Application.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.DocumentManagement.Application.pdb
src/Host/Acme.Api/bin/Debug/net10.0/Acme.DocumentManagement.Domain.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.DocumentManagement.Domain.pdb
src/Host/Acme.Api/bin/Debug/net10.0/Acme.DocumentManagement.Infrastructure.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.DocumentManagement.Infrastructure.pdb
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Persistence.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Persistence.pdb
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Platform.Application.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Platform.Application.pdb
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Platform.Contracts.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Platform.Contracts.pdb
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Platform.Domain.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Platform.Domain.pdb
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Platform.Infrastructure.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Platform.Infrastructure.pdb
src/Host/Acme.Api/bin/Debug/net10.0/Acme.SharedKernel.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.SharedKernel.pdb
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Storage.dll
src/Host/Acme.Api/bin/Debug/net10.0/Acme.Storage.pdb
src/Host/Acme.Api/bin/Debug/net10.0/appsettings.Development.json
src/Host/Acme.Api/bin/Debug/net10.0/appsettings.json
src/Host/Acme.Api/bin/Debug/net10.0/Humanizer.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.Build.Framework.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.ExternalAccess.RazorCompiler.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Abstractions.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Design.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Relational.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.IdentityModel.Abstractions.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.IdentityModel.JsonWebTokens.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.IdentityModel.Logging.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.IdentityModel.Tokens.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.OpenApi.dll
src/Host/Acme.Api/bin/Debug/net10.0/Microsoft.VisualStudio.SolutionPersistence.dll
src/Host/Acme.Api/bin/Debug/net10.0/Mono.TextTemplating.dll
src/Host/Acme.Api/bin/Debug/net10.0/Newtonsoft.Json.dll
src/Host/Acme.Api/bin/Debug/net10.0/Npgsql.dll
src/Host/Acme.Api/bin/Debug/net10.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
src/Host/Acme.Api/bin/Debug/net10.0/Swashbuckle.AspNetCore.Swagger.dll
src/Host/Acme.Api/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/Host/Acme.Api/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/Host/Acme.Api/bin/Debug/net10.0/System.CodeDom.dll
src/Host/Acme.Api/bin/Debug/net10.0/System.Composition.AttributedModel.dll
src/Host/Acme.Api/bin/Debug/net10.0/System.Composition.Convention.dll
src/Host/Acme.Api/bin/Debug/net10.0/System.Composition.Hosting.dll
src/Host/Acme.Api/bin/Debug/net10.0/System.Composition.Runtime.dll
src/Host/Acme.Api/bin/Debug/net10.0/System.Composition.TypedParts.dll
src/Host/Acme.Api/bin/Debug/net10.0/System.IdentityModel.Tokens.Jwt.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/Microsoft.Build.Locator.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.exe
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.exe.config
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/Microsoft.IO.Redist.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/Newtonsoft.Json.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/System.Buffers.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/System.Collections.Immutable.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/System.CommandLine.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/System.Memory.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/System.Numerics.Vectors.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/System.Runtime.CompilerServices.Unsafe.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/System.Threading.Tasks.Extensions.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/cs/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/de/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/es/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/fr/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/it/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/ja/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/ko/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/pl/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/pt-BR/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/ru/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/tr/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/zh-Hans/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-net472/zh-Hant/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/Microsoft.Build.Locator.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.deps.json
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.runtimeconfig.json
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/Newtonsoft.Json.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/System.Collections.Immutable.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/System.CommandLine.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/cs/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/de/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/es/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/fr/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/it/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/ja/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/ko/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/pl/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/pt-BR/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/ru/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/tr/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/zh-Hans/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/BuildHost-netcore/zh-Hant/System.CommandLine.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
src/Host/Acme.Api/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
